{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="techgrid" role="main">
        <div class="sidebar">
            {{ "techcontent/sidebar"| content }}
        </div>
        <div class="subpage">
            {{ content }}
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
